@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: Roboto;
}

#registration-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  border: 1px solid;
  justify-content: center;
  margin-top: 10rem;
}

#form-container {
  padding: 1.5rem;
  border: 1px solid;
  border-radius: 0.25rem;
  width: 30%;
}

#registration-form {
}

#button {
  display: flex;
  margin-top: 1rem;
}

#response-message {
  margin-top: 1rem;
}
